.button-fondo{
    background-color: rgb(130, 50, 161);
    border-radius: 10%;
}
.fondo{
    background-color: black;
}
.fondo2{
    background-color: rgb(24, 4, 34);
}
a {
    
    transition: background-color .5s;
  }
  
  a:hover {
    background-color: rgba(59, 10, 78, 0.473);
  }
  .fondopiepag{
    background-color: rgb(44, 43, 0);
  }
  .silver-text {
    color: silver;
}